.menu {
  list-style: none;
}
.menu-item {
}

.list {
  text-decoration: none;
}
.menu-link {
  width: 48px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-contact-tel {
}
.header-contact-mail {
}
.model-open-btn {
}
button {
  cursor: pointer;
}
.page-header {
}
.list {
    list-style: none;
}
.menu-link {
    text-decoration: none
}
.page-logo {
text-decoration: none
  width: 44px;
  height: 21px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: ##4d5ae5 ;
}
.logos{
    color: #2e2f42 ;
}
