:root {
  --background-color: #ffffff;
  --page-logo-color: #4d5ae5;
  --first-paragraf-color: #434455;
  --sections-color: #2e2f42;
  --contact-color: #434455;
  --section-four-back-ground-color: #f4f4fd;
  --footer-color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color);
}

.menu {
  list-style: none;
}
.list {
  list-style: none;
}
.menu-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.page-header {
  background: #ffffff;
}

.page-header-navigation {
  list-style: none;
}

.list {
  list-style: none;
}

/* Address */
.menu-contacts {
  font-style: normal;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contact-color);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--page-logo-color);
}
.logos {
  color: #2e2f42;
}

/* Section-1 */
.section-one {
  background-color: var(--sections-color);
}

.section-one :hover,
.section-one :focus {
  background-color: var(--sections-color);
}

.title-one {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/* Section-2 */
.hidden-title {
}
.title-two {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--sections-color);
}

/* Section-3 */
.title-three {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--sections-color);
}

/* Section-4 */
.section-four-background-color {
  background-color: var(--section-four-back-ground-color);
}
.title-four {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--sections-color);
}
.company-employees {
  background-color: #ffffff;
}
.employees {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--sections-color);
}
/* Button */

button {
  cursor: pointer;
}
.button-one {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.button-one:hover,
.button-one:focus {
  background: #404bbf;
  cursor: pointer;
}

/* Footer */

.footer {
  background-color: var(--footer-color);
}
.text-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-paragraf-color);
  padding: 0;
}
.footer-color {
  color: #f4f4fd;
}
