.menu {
  list-style: none;
}
.menu-item {
}

.list {
  text-decoration: none;
}
.menu-link {
  width: 48px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-contact-tel {
}
.header-contact-mail {
}
.model-open-btn {
}
button {
  cursor: pointer;
}
.page-header {
}
.page-navigation {
}
.page-logo {
  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* IRIS */

  color: #4d5ae5;
}
