.menu {
  list-style: none;
}
.menu-item {
}

.list {
  text-decoration: none;
}
.menu-link {
  text-decoration: none;
}
.header-contact-tel {
}
.header-contact-mail {
}
.model-open-btn {
}
button {
  cursor: pointer;
}
.page-header {
}
.page-navigation {
}
.page-logo {
}
